@each $weight in 500, 600 {
	@font-face {
		font-weight: $weight;
		font-style: normal;
		font-family: "Manrope";
		font-display: swap;
		src: url("../fonts/Manrope-#{$weight}.woff2") format("woff2");
	}
}
